<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  {{#if pageTitle }}
  <title>{{ pageTitle }}</title>
  {{else}}
  <title>{{ defaultTitle }}</title>
  {{/if}}

  {{#if pageDescription }}
  <meta name="description" content="{{ pageDescription }}">
  {{/if}}
  <meta name="author" content="{{ authorName }}">

  <!-- Enable responsive viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="{{ basePath }}/assets/resources/syntax/syntax.css" rel="stylesheet">
  <link href="{{ basePath }}/assets/css/style.css" rel="stylesheet">

  <link rel="alternate" type="application/rss+xml" title="{{ siteName }}" href="{{ basePath }}/feed.xml">
</head>

<body>
  {{> _includes/header }}

  <div>
  <!-- include contnet -->

    {{> _includes/footer }}
  </div>

  <script type="text/javascript" src="{{ basePath }}/assets/js/app.js"></script>
</body>
</html>
